.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  align-items: center;
  justify-content: center;
}
.textarea {
  font-size: 2rem;
}
#text{
  color: red;
  padding: 20px;
}
button{
  font-size: 20px;
  padding: 10px 20px;
}
.App-logo {
  height: 100px;
  width: 100px;
  position: relative;
  pointer-events: none;
  animation: App-logo-jump 0.9s infinite;
}
@keyframes App-logo-jump {
  10%{
    height: 100px;
    width: 100px;
  }
  30%{
    height: 100px;
    width: 80px;
  }
  50%{
    height: 60px;
    width: 114px;
    transform: translateY(200px);
  }
  75%{
    height: 100px;
    width: 114px;
  }
  100%{
    transform: translateY(0);
  }
}